/* header */
.td-header__card {
  background-color: #fff;
  border-radius: var(--bor-l);
  z-index: 10;
}

.td-header__card-bg {
  background: var(--color-gradi);
  border-radius: var(--bor-l);
}

.td-header__profile-frame {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.td-header__profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.td-header__brand-name {
  color: var(--color-em);
  border-bottom: 2px dashed var(--color-em);
}

/* 다크모드 토글 버튼 */

.td-header__toggle-btn {
  width: 40px;
  height: 40px;
  background-image: var(--color-gradi);
  color: var(--color-font);
  border: none;
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  padding: var(--pad-xs);
  cursor: pointer;
}

.td-header__toggle-btn svg {
  width: 30px;
  height: 30px;
}

/* main */

/* card */
.td-list__card {
  position: relative;
  width: 310px;
  background-color: var(--color-box);
  border: 1px solid var(--color-outline);
  border-radius: var(--bor-l);
  /*위 32 오른쪽 24 아래 40 왼쪽 32*/
  padding: var(--pad-xl) var(--pad-l) 40px var(--pad-xl);
  z-index: 1;
  overflow: hidden;
  transition: border-color 0.3s ease;
}
.td-list__card--hoverable {
  cursor: pointer;
}
.td-list__title {
  font-size: var(--font-lg);
  font-weight: 700;
  color: var(--color-font);
  margin-bottom: var(--pad-xl);
}
.td-list__count {
  font-size: var(--font-xxl);
  font-weight: 700;
  color: var(--color-font);
}
.td-list__card--achievement {
  width: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--pad-xl);
  padding-bottom: 60px;
  padding-left: 0;
  padding-right: 0;
}
.td-list__card--achievement .td-list__title {
  margin-bottom: 20px;
}
.td-list__chart-container {
  position: relative;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  overflow: hidden;
  background: linear-gradient(180deg, #fff099 30%, #ffa8a8 100%);
}
.td-list__percent {
  font-size: var(--font-xxl);
  font-weight: 600;
  color: var(--color-em);
  margin-bottom: 27px;
}
/* 그라데이션 호버*/
.td-list__card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #fff099 30%, #ffa8a8 100%);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.td-list__card--hoverable:hover::before {
  opacity: 1;
}
@keyframes drift {
  100% {
    transform: rotate(-360deg);
  }
}
.wave {
  width: 300px;
  height: 300px;
  position: absolute;
  /*js는 top 적용*/
  top: 50%;
  left: 50%;
  margin-left: -150px;
  border-radius: 43%;
  animation: drift 4s infinite linear;
  background: var(--color-box);
}
.wave.layer_1 {
  animation: drift 8s infinite linear;
  background: rgba(255, 255, 255, 0.4);
}

/* controls */
.td-controls__search-box {
  display: flex;
  align-items: center;
  background-color: var(--color-box);
  border: 1px solid var(--color-outline);
  border-radius: var(--bor-xl);
  padding: var(--pad-xs) var(--pad-m);
}

.td-controls__search-input {
  width: 205px;
}

.td-controls__search-input::placeholder {
  color: var(--color-workdate);
}

.td-controls__select {
  background-color: var(--color-box);
  border: 1px solid var(--color-outline);
  border-radius: var(--bor-m);
  padding: var(--pad-xs) var(--pad-s);
}

/* btn--add */

.td-controls__btn--add {
  background-color: var(--color-em);
  border-radius: var(--bor-l);
  padding: var(--pad-s) var(--pad-m);
  font-weight: 600;
}

/* btn--reset */

.td-controls__btn--reset {
  color: #ea4545;
  font-weight: 600;
}

/* tags */

.td-tags__item {
  background-color: var(--color-box);
  border: 1px solid var(--color-em);
  color: var(--color-em);
  padding: 4px 12px;
  border-radius: var(--bor-l);
  font-weight: 600;
}

/* boards */

.td-board__section {
  width: 312px;
  background-color: var(--color-box);
  border: 1px solid var(--color-outline);
  border-radius: var(--bor-m);
  padding: var(--pad-m);
}

.td-board__header {
  border-bottom: 2px solid var(--color-font);
  padding-bottom: var(--pad-s);
  margin-bottom: 13px;
  display: flex;
  justify-content: space-between;
}

.td-board__title {
  font-size: var(--font-md);
  color: var(--color-font);
}

.td-board__count {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: var(--color-em);
  color: var(--color-box);
  border-radius: 50%;
}

.td-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--color-working);
  border: 1px solid var(--color-outline);
  border-radius: var(--bor-m);
  padding: var(--pad-m);
}
