body {
  color: var(--theme-font-main);
  background: var(--theme-bg);
}

/* header */
.td-header__card {
  background-color: var(--theme-box);
  border-radius: var(--bor-l);
  z-index: 10;
}

.td-header__card-bg {
  background: var(--theme-profileline);
  border-radius: var(--bor-l);
}

.td-header__profile-frame {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  background: #ff9999;
}

.td-header__brand-name {
  color: var(--theme-font-accent);
  border-bottom: 2.5px dashed var(--theme-font-accent);
  gap: 12px;
  cursor: pointer;
}

.td-header__text-main {
  display: flex;
  position: relative;
  gap: 12px;
}

.td-header__nickname-wrap {
  display: inline-flex;
  align-items: flex-end;
  gap: 4px;
  width: fit-content;
}

.td-header__nickname-input {
  width: 6ch;
  min-width: 60px;
  max-width: 160px;

  font: inherit;
  color: inherit;
}

.pen {
  color: var(--theme-font-accent);
}

/* 다크모드 토글 버튼 */

.td-header__toggle-btn {
  width: 40px;
  height: 40px;
  background-image: var(--theme-profilebtn);
  color: var(--theme-font-main);
  border: none;
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  padding: var(--pad-xs);
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.td-header__toggle-btn:hover {
  opacity: var(--opacity-70);
}

.td-header__toggle-btn svg {
  width: 30px;
  height: 30px;
}

.td-header__darktheme-btn {
  display: none;
}

/* 다크모드 */
body.dark .td-header__lighttheme-btn {
  display: none;
}

body.dark .td-header__darktheme-btn {
  display: block;
}

/* main */

/* card */
.td-list__card {
  position: relative;
  width: 100%;
  background-color: var(--theme-box);
  border: 1px solid var(--theme-outline);
  border-radius: var(--bor-l);
  /*위 32 오른쪽 24 아래 40 왼쪽 32*/
  padding: var(--pad-xl) var(--pad-l) 40px var(--pad-xl);
  z-index: 1;
  overflow: hidden;
  transition: border-color 0.3s ease;
}
.td-list__card--hoverable {
  cursor: pointer;
}
.td-list__title {
  font-size: var(--font-xl);
  font-weight: 700;
  color: var(--theme-font-main);
  margin-bottom: var(--pad-xl);
}
.td-list__count {
  font-size: var(--font-xl);
  font-weight: 600;
  color: var(--theme-font-main);
}
.td-list__card--achievement {
  width: 316px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--pad-xl);
  padding-bottom: 60px;
  padding-left: 0;
  padding-right: 0;
}
.td-list__card--achievement .td-list__title {
  margin-bottom: 20px;
}
.td-list__chart-container {
  position: relative;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  overflow: hidden;
  background: var(--theme-graph);
  border: 5px solid var(--theme-outline);
}
.td-list__percent {
  font-size: var(--font-xxl);
  font-weight: 600;
  color: var(--theme-font-accent);
  margin-bottom: 27px;
}
/* 그라데이션 호버*/
.td-list__card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--theme-totaltask);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.td-list__card--hoverable:hover::before {
  opacity: 1;
}
@keyframes drift {
  100% {
    transform: rotate(-360deg);
  }
}
.wave {
  width: 300px;
  height: 300px;
  position: absolute;
  /*js는 top 적용*/
  top: 50%;
  left: 50%;
  margin-left: -150px;
  border-radius: 43%;
  animation: drift 4s infinite linear;
  background: var(--theme-box);
}
.wave.layer_1 {
  animation: drift 8s infinite linear;
  background: rgba(255, 255, 255, 0.4);
}

/* controls */
.td-controls__search-box {
  display: flex;
  align-items: center;
  background-color: var(--theme-box);
  border: 1px solid var(--theme-outline);
  border-radius: var(--bor-xl);
  padding: var(--pad-xs) var(--pad-m);
}

.td-controls__select {
  background-color: var(--theme-box);
  border: 1px solid var(--theme-outline);
  border-radius: var(--bor-m);
  padding: var(--pad-xs) var(--pad-s);
}

/* btn--add */

.td-controls__btn--add {
  background-color: var(--theme-font-accent);
  color: var(--color-font);
  border-radius: var(--bor-l);
  padding: var(--pad-s) var(--pad-m);
  font-weight: 600;
  transition: opacity 0.3s ease;
}

/* btn--reset */

.td-controls__btn--reset {
  color: #ea4545;
  font-weight: 600;
  transition: opacity 0.3s ease;
}

/* hover */

.td-controls__btn:hover {
  opacity: 50%;
}

/* tags */

.td-tags__item {
  background-color: var(--theme-box);
  border: 1px solid var(--theme-font-accent);
  color: var(--theme-font-accent);
  padding: 4px 12px;
  border-radius: var(--bor-l);
  font-weight: 600;
}

/* boards */

.td-board__section {
  width: 100%;
  background-color: var(--theme-box);
  border: 1px solid var(--theme-outline);
  border-radius: var(--bor-m);
  padding: var(--pad-m);
}

.td-board__header {
  border-bottom: 2px solid var(--theme-font-main);
  padding-bottom: var(--pad-s);
  margin-bottom: 13px;
  display: flex;
  justify-content: space-between;
}

.td-board__title {
  font-size: var(--font-md);
  color: var(--theme-font-main);
}

.td-board__count {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: var(--theme-font-accent);
  color: var(--theme-box);
  border-radius: 50%;
}

.td-board__empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--pad-s);
}

.td-board__empty-text {
  color: var(--theme-worknot);
}

.td-card {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 16px;
  background-color: color-mix(in srgb, var(--theme-working) 20%, transparent);
  border: 1px solid var(--theme-outline);
  border-radius: var(--bor-m);
  padding: var(--pad-m);
}

.td-card__badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 24px;
  padding: 0 8px;
  font-size: 12px;
  font-weight: 700;
  border-radius: var(--bor-xl);
}

.td-card__badge--low {
  color: #679e4e;
  background: #b7f09d;
}
.td-card__badge--medium {
  color: #9f621b;
  background: #ffce96;
}
.td-card__badge--high {
  color: #ac2c2c;
  background-color: #ff9999;
}

.td-board__list {
 display: flex;
 flex-direction: column;
 gap: var(--pad-m);
}

.td-card__action {
  gap: 14px;
}

.td-card__title {
  font-size: var(--font-md);
  font-weight: 700;
}

.td-card--done {
  background: var(--opacity-20);
}

.td-card--done .td-card__title {
  text-decoration: line-through;
}

.td-card__date {
  font-weight: 400;
  opacity: var(--opacity-70);
  font-size: 12px;
}

/* footer */

footer {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 80px;
  padding: var(--pad-m);
  border-top: 1px solid var(--theme-outline);
  color: var(--theme-outline);
}

.td-footer__copyright {
  margin: 0;
}

/* modal */

.modal-container {
  width: min(550px, calc(100vw - 32px));
  padding: 40px;
  background-color: var(--theme-box);
  border: 2px solid var(--theme-outline);
  border-radius: var(--bor-l);
}

.modal-container h2 {
  margin: 0 0 18px;
  font-size: var(--font-xxl);
  font-weight: 700;
}

.modal-container h3 {
  margin: 0 0 6px;
  font-size: 18px;
  font-weight: 700;
}

.modal__field {
  margin-bottom: 18px;
}

label[for="modal__task-title"]::before {
  content: "* ";
  color: var(--theme-font-main);
}

input::placeholder,
textarea::placeholder {
  color: var(--theme-font-main);
  opacity: 50%;
}

input[type="text"]:focus,
textarea:focus {
  outline: none;
  box-shadow: 0px 0px 4.2px 0px #ec8d8db2;
}

.modal__title,
.modal__content,
.modal__status {
  width: 100%;
  border: 1px solid var(--theme-outline);
  border-radius: var(--bor-m);
  padding: var(--pad-s);
}

.modal__content {
  height: 150px;
}

.modal__priority-status-container {
  display: grid;
  grid-template-columns: 1fr 186px;
  gap: 12px;
  align-items: end;
}

.priority-container {
  display: flex;
  gap: 8px;
  align-items: center;
  min-height: 36px;
}
.priority__high,
.priority__mid,
.priority__low {
  padding: 8px 14px;
  border: 1px solid var(--theme-outline);
  color: var(--theme-font-main);
  border-radius: 999px;
  cursor: pointer;
  transition: all 0.2s ease;
}

button.priority__high.active {
  color: #ac2c2c;
  background: #ff9999;
}

button.priority__mid.active {
  color: #9f621b;
  background: #ffce96;
}

button.priority__low.active {
  color: #679e4e;
  background: #b7f09d;
}

.modal__status option {
  background-color: var(--theme-box);
  color: var(--theme-font-main);
}
.button-container {
  display: flex;
  justify-content: flex-end;
  gap: var(--pad-s);
  margin-top: 28px;
}

.button-container button {
  width: 72px;
  height: 36px;
  border-radius: 8px;
}

.button__cancel {
  background: var(--theme-box);
  border: 1px solid var(--theme-outline);
}

.button__save {
  border: 0;
  background: var(--theme-font-accent);
  color: var(--color-font);
}

/* modal_overlay */
.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

/* js에서 연결 */
.modal-overlay.active {
  display: flex;
}

/* reset modal */

.reset-modal-container {
  width: 350px;
  padding: var(--pad-xl) var(--pad-l);
  background: var(--theme-box);
  border: 2px solid var(--theme-outline);
  border-radius: var(--bor-l);
}

.reset-modal__message {
  margin: 0;
  text-align: center;
  line-height: 1.5;
}

.reset-modal-btn-container {
  display: flex;
  justify-content: center;
  gap: var(--pad-s);
  margin-top: 24px;
}

.reset-modal-btn-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74px;
  height: 33px;
  border-radius: var(--bor-m);
}

.reset-modal-btn__cancel {
  background-color: var(--theme-box);
  border: 1px solid var(--theme-outline);
}

.reset-modal-btn__delete {
  border: 0;
  background-color: var(--theme-font-accent);
}

/* 플로팅버튼 */
.td-scroll-btn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 45px;
  height: 45px;
  background-color: var(--theme-font-accent);
  color: var(--theme-box);
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 98;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.td-scroll-btn svg {
  width: 40px;
  height: 40px;
}

.td-scroll-btn:hover {
  opacity: 0.8;
}

/* 드래그 차단 */

body {                      
  -webkit-user-select: none;
  user-select: none;
}